@charset "UTF-8";
/*
@decription: 问卷调查
@auther: xihun
@create date: 2016-07-07;
@version: v1.0
*/
/* line 15, ../sass/questionnaire.scss */
body {
  background: #f2f2f2;
  padding: 0;
  min-width: 320px;
  max-width: 6.4rem;
  margin: 0 auto;
}

/* line 22, ../sass/questionnaire.scss */
.questionnaireWrap {
  width: 6.4rem;
  background: #f2f2f2;
  padding-bottom: 1px;
}
/* line 26, ../sass/questionnaire.scss */
.questionnaireWrap .orange {
  color: #ff4e00;
}
/* line 27, ../sass/questionnaire.scss */
.questionnaireWrap .button {
  display: block;
  margin: 0.52rem auto;
  width: 4.14rem;
  height: 0.74rem;
  line-height: 0.74rem;
  text-align: center;
  font-size: 0.26rem;
  font-weight: bold;
  color: #fff;
  background: #ff4e00;
  border: none;
  border-radius: 0.08rem;
}
/* line 38, ../sass/questionnaire.scss */
.questionnaireWrap .button[disabled] {
  background: #ccc;
}

/* line 42, ../sass/questionnaire.scss */
.desc-box {
  margin-bottom: 0.24rem;
  padding: 0.2rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
/* line 47, ../sass/questionnaire.scss */
.desc-box p {
  line-height: 0.36rem;
  text-align: justify;
  font-size: 0.26rem;
}

/* line 53, ../sass/questionnaire.scss */
.ques-item {
  margin-bottom: 0.24rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
/* line 57, ../sass/questionnaire.scss */
.ques-item .title {
  padding: 0.22rem;
  line-height: 0.4rem;
  font-size: 0.3rem;
  border-bottom: 1px solid #ddd;
}
/* line 63, ../sass/questionnaire.scss */
.ques-item ul {
  margin-left: 0.2rem;
}
/* line 64, ../sass/questionnaire.scss */
.ques-item li {
  padding: 0.26rem 0.2rem 0.26rem 0.68rem;
  border-bottom: 1px solid #ddd;
  position: relative;
}
/* line 68, ../sass/questionnaire.scss */
.ques-item li .radio-box {
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: -0.12rem;
}
/* line 73, ../sass/questionnaire.scss */
.ques-item li .radio-box input {
  display: inline-block;
  vertical-align: top;
  width: 0.26rem;
  height: 0.26rem;
  margin: 0;
  background-color: transparent;
  border: 0.02rem solid #d9d9d9;
  border-radius: 0.06rem;
  -webkit-appearance: none;
}
/* line 84, ../sass/questionnaire.scss */
.ques-item li .radio-box .check {
  position: absolute;
  left: 0.04rem;
  top: 0.04rem;
  width: 0.2rem;
  height: 0.08rem;
  border-left: 0.05rem solid #ff4e00;
  border-bottom: 0.05rem solid #ff4e00;
  overflow: hidden;
  display: none;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 96, ../sass/questionnaire.scss */
.ques-item li .radio-box input:checked {
  border-color: #ff4e00;
}
/* line 99, ../sass/questionnaire.scss */
.ques-item li .radio-box input:checked + .check {
  display: block;
}
/* line 103, ../sass/questionnaire.scss */
.ques-item li .txt {
  display: block;
  line-height: 0.36rem;
  font-size: 0.26rem;
  color: #666;
}
/* line 109, ../sass/questionnaire.scss */
.ques-item li:last-child {
  border-bottom: none;
}

/* line 113, ../sass/questionnaire.scss */
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

/* line 122, ../sass/questionnaire.scss */
.prompt-wrap {
  position: fixed;
  left: 0.2rem;
  top: 1.7rem;
  width: 6rem;
  background: #fff;
  border-radius: 0.08rem;
  z-index: 10;
}
/* line 130, ../sass/questionnaire.scss */
.prompt-wrap h4 {
  font-size: 0.34rem;
  color: #ff4e00;
  text-align: center;
  margin-top: 0.26rem;
}
/* line 136, ../sass/questionnaire.scss */
.prompt-wrap h5 {
  font-size: 0.26rem;
  color: #ff4e00;
  text-align: center;
  margin-bottom: 0.2rem;
}
/* line 142, ../sass/questionnaire.scss */
.prompt-wrap p {
  padding: 0 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 0.24rem;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
}
/* line 150, ../sass/questionnaire.scss */
.prompt-wrap .green {
  color: #469616;
}
/* line 151, ../sass/questionnaire.scss */
.prompt-wrap .black {
  color: #333;
}
/* line 152, ../sass/questionnaire.scss */
.prompt-wrap .orange {
  color: #ff4e00;
}
/* line 153, ../sass/questionnaire.scss */
.prompt-wrap .close-btn {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  width: 0.56rem;
  height: 0.56rem;
  overflow: hidden;
}
/* line 158, ../sass/questionnaire.scss */
.prompt-wrap .close-btn:before, .prompt-wrap .close-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.38rem;
  height: 0.04rem;
  background: #d4d3d7;
  overflow: hidden;
}
/* line 166, ../sass/questionnaire.scss */
.prompt-wrap .close-btn:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: -0.19rem;
  margin-top: -0.02rem;
}
/* line 171, ../sass/questionnaire.scss */
.prompt-wrap .close-btn:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: -0.17rem;
  margin-top: -0.03rem;
}
