@charset "UTF-8";
.lay-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}

.lay {
  background-color: #fff;
  width: 5.5rem;
  padding: 0.1rem 0.15rem 0.2rem;
  position: absolute;
  left: 50%;
  top: 40%;
  margin: -2.5rem 0 0 -2.7rem;
}
.lay .tit {
  width: 100%;
  line-height: 0.6rem;
  font-size: 0.24rem;
  color: #434a54;
  border-bottom: 1px solid #f0f0f0;
}
.lay .close {
  float: right;
  color: #aab2bd;
  cursor: pointer;
}
.lay .uli {
  padding-left: 0.15rem;
  padding-bottom: 0.15rem;
  border-bottom: 1px solid #e8e8e8;
}
.lay .uli h3 {
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.22rem;
  color: #434a54;
}
.lay .uli .dian {
  width: 0.1rem;
  height: 0.1rem;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 0.1rem;
  background: -webkit-linear-gradient(left top, #47c3ff, #609cf6);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom right, #47c3ff, #609cf6);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom right, #47c3ff, #609cf6);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom right, #47c3ff, #609cf6);
  /* 标准的语法 */
}
.lay .cont dl {
  display: inline-block;
  vertical-align: bottom;
  font-size: 0.16rem;
  color: #aab2bd;
  text-align: center;
}
.lay .cont .w1 {
  width: 1.8rem;
}
.lay .cont .w2 {
  width: 1.4rem;
}
.lay .btns {
  float: right;
  font-size: 0.2rem;
  color: #fff;
  width: 1.2rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  background: -webkit-linear-gradient(left, #57c9ff, #307ef3);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #57c9ff, #307ef3);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #57c9ff, #307ef3);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #57c9ff, #307ef3);
  /* 标准的语法 */
  -moz-border-radius: 0.05rem;
  -webkit-border-radius: 0.05rem;
  border-radius: 0.05rem;
}

.fr {
  float: right;
}

.fs-38 {
  font-size: 0.38rem;
}

.c-red {
  color: #e00500;
}

.fs-28 {
  font-size: 0.28rem;
}

.c-gray {
  color: #434a54;
}
