/* line 1, ../../sass/public/mod/_reset.scss */
html, body {
  height: 100%;
}

/* line 4, ../../sass/public/mod/_reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, strong, b, em, i, pre, code, form, fieldset, legend, input, button, textarea, p, a, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 8, ../../sass/public/mod/_reset.scss */
body {
  background-color: #f6f6f6;
  font-size: 12px;
  line-height: 1.5;
  font-family: "Microsoft YaHei","tahoma","arial","sans-serif";
  color: #666;
}

/* line 11, ../../sass/public/mod/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 14, ../../sass/public/mod/_reset.scss */
h1, h2, h3, h4, h5, h6, strong, b, em, i {
  font-weight: normal;
  font-style: normal;
}

/* line 18, ../../sass/public/mod/_reset.scss */
ul, ol, li {
  list-style: none;
}

/* line 21, ../../sass/public/mod/_reset.scss */
img {
  border: none;
}

/* line 24, ../../sass/public/mod/_reset.scss */
input, textarea, select {
  border: none;
  outline: none;
  font-family: "Microsoft YaHei";
}

/* line 29, ../../sass/public/mod/_reset.scss */
a {
  color: #666;
  text-decoration: none;
  outline: none;
}

/* line 34, ../../sass/public/mod/_reset.scss */
a:hover {
  color: #2ea7e0;
  text-decoration: none;
}

/* line 38, ../../sass/public/mod/_reset.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 1, ../../sass/public/mod/_var.scss */
.fl {
  float: left;
  display: inline;
}

/* line 5, ../../sass/public/mod/_var.scss */
.fr {
  float: right;
  display: inline;
}

/* line 9, ../../sass/public/mod/_var.scss */
.fn-clear {
  zoom: 1;
}
/* line 11, ../../sass/public/mod/_var.scss */
.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 20, ../../sass/public/mod/_var.scss */
.txt-left {
  text-align: left !important;
}

/* line 23, ../../sass/public/mod/_var.scss */
.txt-right {
  text-align: right !important;
}

/* line 26, ../../sass/public/mod/_var.scss */
.txt-center {
  text-align: center !important;
}

/* line 29, ../../sass/public/mod/_var.scss */
.conbox {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* line 34, ../../sass/public/mod/_var.scss */
.mt5 {
  margin-top: 5px;
}

/* line 37, ../../sass/public/mod/_var.scss */
.mt10 {
  margin-top: 10px;
}

/* line 40, ../../sass/public/mod/_var.scss */
.mt15 {
  margin-top: 15px;
}

/* line 43, ../../sass/public/mod/_var.scss */
.mt20 {
  margin-top: 20px;
}

/* line 46, ../../sass/public/mod/_var.scss */
.mt25 {
  margin-top: 25px;
}

/* line 49, ../../sass/public/mod/_var.scss */
.mt30 {
  margin-top: 30px;
}

/* line 52, ../../sass/public/mod/_var.scss */
.mt40 {
  margin-top: 40px !important;
}

/* line 55, ../../sass/public/mod/_var.scss */
.mt50 {
  margin-top: 50px;
}

/* line 58, ../../sass/public/mod/_var.scss */
.mt60 {
  margin-top: 60px;
}

/* line 61, ../../sass/public/mod/_var.scss */
.mt70 {
  margin-top: 70px;
}

/* line 64, ../../sass/public/mod/_var.scss */
.mt80 {
  margin-top: 80px;
}

/* line 67, ../../sass/public/mod/_var.scss */
.mt110 {
  margin-top: 110px;
}

/* line 70, ../../sass/public/mod/_var.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 73, ../../sass/public/mod/_var.scss */
.ml5 {
  margin-left: 5px;
}

/* line 76, ../../sass/public/mod/_var.scss */
.ml20 {
  margin-left: 20px;
}

/* line 79, ../../sass/public/mod/_var.scss */
.ml200 {
  margin-left: 200px;
}

/* line 82, ../../sass/public/mod/_var.scss */
.mr5 {
  margin-right: 5px;
}

/* line 85, ../../sass/public/mod/_var.scss */
.mr20 {
  margin-right: 20px;
}

/* line 88, ../../sass/public/mod/_var.scss */
.mr40 {
  margin-right: 40px;
}

/* line 91, ../../sass/public/mod/_var.scss */
.mlr5 {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 95, ../../sass/public/mod/_var.scss */
.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 99, ../../sass/public/mod/_var.scss */
.pb130 {
  padding-bottom: 130px;
}

/* line 100, ../../sass/public/mod/_var.scss */
.pb240 {
  padding-bottom: 240px;
}

/* line 101, ../../sass/public/mod/_var.scss */
.w80 {
  width: 80px !important;
}

/* line 104, ../../sass/public/mod/_var.scss */
.w100 {
  width: 100px !important;
}

/* line 107, ../../sass/public/mod/_var.scss */
.w110 {
  width: 110px !important;
}

/* line 110, ../../sass/public/mod/_var.scss */
.w120 {
  width: 120px !important;
}

/* line 113, ../../sass/public/mod/_var.scss */
.w130 {
  width: 130px !important;
}

/* line 116, ../../sass/public/mod/_var.scss */
.w140 {
  width: 140px !important;
}

/* line 119, ../../sass/public/mod/_var.scss */
.w160 {
  width: 160px !important;
}

/* line 122, ../../sass/public/mod/_var.scss */
.w180 {
  width: 180px !important;
}

/* line 125, ../../sass/public/mod/_var.scss */
.w200 {
  width: 200px !important;
}

/* line 128, ../../sass/public/mod/_var.scss */
.w350 {
  width: 350px !important;
}

/* line 131, ../../sass/public/mod/_var.scss */
.w420 {
  width: 420px;
}

/* line 134, ../../sass/public/mod/_var.scss */
.w450 {
  width: 450px !important;
}

/* line 137, ../../sass/public/mod/_var.scss */
.w490 {
  width: 490px;
}

/* line 140, ../../sass/public/mod/_var.scss */
.fs12 {
  font-size: 12px;
}

/* line 143, ../../sass/public/mod/_var.scss */
.fs14 {
  font-size: 14px;
}

/* line 146, ../../sass/public/mod/_var.scss */
.fs16 {
  font-size: 16px;
}

/* line 149, ../../sass/public/mod/_var.scss */
.fs18 {
  font-size: 18px;
}

/* line 152, ../../sass/public/mod/_var.scss */
.fs20 {
  font-size: 20px;
}

/* line 155, ../../sass/public/mod/_var.scss */
.fs24 {
  font-size: 24px;
}

/* line 158, ../../sass/public/mod/_var.scss */
.fs25 {
  font-size: 25px !important;
}

/* line 161, ../../sass/public/mod/_var.scss */
.fs30 {
  font-size: 30px !important;
}

/* line 164, ../../sass/public/mod/_var.scss */
.arial {
  font-family: Arial;
}

/* line 186, ../../sass/public/mod/_var.scss */
.text-green {
  color: #1bb974;
}

/* line 189, ../../sass/public/mod/_var.scss */
.text-blue {
  color: #2ea7e0;
}

/* line 192, ../../sass/public/mod/_var.scss */
.text-red {
  color: #ff5243;
}

/* line 195, ../../sass/public/mod/_var.scss */
.red {
  color: #f00;
}

/* line 198, ../../sass/public/mod/_var.scss */
.text-yellow {
  color: #ff8200;
}

/* line 201, ../../sass/public/mod/_var.scss */
.gray-3 {
  color: #333;
}

/* line 204, ../../sass/public/mod/_var.scss */
.gray-9 {
  color: #999;
}

/* line 207, ../../sass/public/mod/_var.scss */
.v-m {
  vertical-align: middle;
}

/* line 210, ../../sass/public/mod/_var.scss */
.inline-block {
  display: inline-block;
}

/* line 213, ../../sass/public/mod/_var.scss */
.hid {
  display: none !important;
}

/* line 214, ../../sass/public/mod/_var.scss */
.underline {
  text-decoration: underline;
}

/* line 217, ../../sass/public/mod/_var.scss */
.strong, .b {
  font-weight: bold;
}

@font-face {
  font-family: "iconfont";
  src: url("images/iconfont/iconfont.eot");
  /* IE9*/
  src: url("images/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("images/iconfont/iconfont.woff") format("woff"), url("images/iconfont/iconfont.ttf") format("truetype"), url("images/iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 9, ../../sass/public/mod/_iconfont.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
